Connected Services/ServiceReference1/Employee.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Employee" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54556/Employee.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54556/Employee.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54556/Employee.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployee_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IEmployee_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployee_getEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployee_getEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployee_getEmployeeRowById_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeRowById" />
  </wsdl:message>
  <wsdl:message name="IEmployee_getEmployeeRowById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeRowByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployee_getEmployeeNameById_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeNameById" />
  </wsdl:message>
  <wsdl:message name="IEmployee_getEmployeeNameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeNameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployee_updateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployee_updateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployee_deleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployee_deleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployee_insertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:insertEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployee_insertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployee">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployee/DoWork" message="tns:IEmployee_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployee/DoWorkResponse" message="tns:IEmployee_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployee/getEmployees" message="tns:IEmployee_getEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployee/getEmployeesResponse" message="tns:IEmployee_getEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRowById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployee/getEmployeeRowById" message="tns:IEmployee_getEmployeeRowById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployee/getEmployeeRowByIdResponse" message="tns:IEmployee_getEmployeeRowById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeNameById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployee/getEmployeeNameById" message="tns:IEmployee_getEmployeeNameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployee/getEmployeeNameByIdResponse" message="tns:IEmployee_getEmployeeNameById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployee/updateEmployee" message="tns:IEmployee_updateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployee/updateEmployeeResponse" message="tns:IEmployee_updateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployee/deleteEmployee" message="tns:IEmployee_deleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployee/deleteEmployeeResponse" message="tns:IEmployee_deleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployee/insertEmployee" message="tns:IEmployee_insertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployee/insertEmployeeResponse" message="tns:IEmployee_insertEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployee" type="tns:IEmployee">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IEmployee/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployee/getEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRowById">
      <soap:operation soapAction="http://tempuri.org/IEmployee/getEmployeeRowById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeNameById">
      <soap:operation soapAction="http://tempuri.org/IEmployee/getEmployeeNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployee/updateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployee/deleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployee/insertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Employee">
    <wsdl:port name="BasicHttpBinding_IEmployee" binding="tns:BasicHttpBinding_IEmployee">
      <soap:address location="http://localhost:54556/Employee.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>