Connected Services/ServiceReference1/Employee.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserAuth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAuth" nillable="true" type="tns:UserAuth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAuth" nillable="true" type="tns:ArrayOfUserAuth" />
  <xs:complexType name="UserAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAuth" nillable="true" type="tns:UserAuth" />
</xs:schema>